/**
 * 1. Use `!important` to override values set by flexslider.
 */
body[class*="woocommerce"] {
  .related-accessories,
  .related-accessories--summary {
    padding: 10px 15px;
    border-width:1px;
    border-style: solid;
    border-radius: 2px;
  }

  .related-accessories--summary {
    margin-top: -30px;
  }

  [class^="related-accessories"] {
    h3 {
      margin-top: 0;
    }

    [class|="slideshow"] {
      display: none;
    }

    select {
      width: 100%;
    }

    #reset_related_accessories {
      display: block;
      margin-bottom: 10px;
      font-size: 0.83em;
      line-height: 28px;
      text-align: right;
    }
  }

  .related-accessories__slideshow {
    position: relative;

    .slides {
      display: flex !important;

      li.product {
        position: relative;
        margin: 0;
        width: 100% !important;
        display: flex !important;
        flex-direction: column;
        flex: 0 0 auto;
      }
    }

    .flex-next {
      transform-origin: top right;
    }
    .flex-prev {
      transform-origin: top left;
    }
  }
}

#yith-quick-view-modal {
  z-index: 999;

  .yith-wcqv-main {
    overflow-y: hidden;
    box-shadow: none;

    #yith-quick-view-close {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      line-height: 40px;
      font-size: 20px;
      opacity: 1;
      background-color: #fff;
    }

    #yith-quick-view-content {
      overflow-y: scroll;

      div.images {
        width: 100%;
      }
    }

    .woocommerce div.product {
      margin: 20px;
    }

    [class*="woocommerce-Tabs-panel--"] {
      display: none;
    }

    .woocommerce-Tabs-panel--description {
      display: block;
    }
  }

  @media screen and (max-width: 768px) {
    body[class*="woocommerce"] ul.flickity.products li {
      width: 100%;
    }
  }
}

.woocommerce-info-related-accessories {
  padding: 10px 15px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 30px;
  background-color: #fcfcfc;
}
